#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5em;
    width: 90%;
    margin: 10em auto;
}

#projects h1{
    font: var(--font-subtitle2);
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4em;
    row-gap: 4em;
    flex-wrap: wrap;
    width: 100%;
}