.socialmedia-list {
    display: flex;
    list-style: none;
    column-gap: 2em;
    font-size: 1.6em;
}

.socialmedia-list a {
    color: var(--text-color1);
    text-decoration: none;
    transition: .2s ease-out;
}

.socialmedia-list a:hover {
    color: var(--color2);
}


@media  screen and (max-width: 480px) {
    .socialmedia-list {
        column-gap: 1em;
    }
}