.footer-container {
    padding: 1.2em 0;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h1 {
    font: var(--font-text);
    font-weight: bold;
}

